extends layout

block content
  h1= title
  - var rabbit = results;
  div(class="container-fluid")
    each item,index in rabbit
     - let destination = `dispatch(\"/rabbit/update?id=${item._id}\")`
      div(class="row" ,onclick=`buy(${index})`)
        div(class="col-sm-2") #{item.rabbit_Name}
        div(class="col-sm-2") #{item.rabbit_Price}
        div(class="col-sm-2") #{item.rabbit_gender}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
     function dispatch(path){
       window.location.href=path
     }

  script. 
        function buy(price){
          alert('you purchased item ' + price)

        }    